{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block custom_head_tags %}
      <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="four wide column">
            {% include 'admin/partials/nav.html' %}
        </div>
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.blog_posts') }}">
                <i class="caret left icon"></i>
                Back to Posts
            </a>
            {% if request.endpoint == 'admin.blog_post_create' %}
                <h2 class="ui header">
                    Add New Marketplace Post
                    <div class="sub header">Create a new category</div>
                </h2>
            {% else %}
                <h2 class="ui header">
                    Edit a Marketplace Post
                    <div class="sub header">Edit current category</div>
                </h2>
            {% endif %}
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            {{ f.render_form_field(form.title) }}
            {% if request.endpoint == 'admin.blog_post_create' %}
                {{ f.render_form_field(form.image) }}
            {% else %}
                <div class="two fields">
                    {{ f.render_form_field(form.image) }}
                    <div class="field">
                        <img src="{{ url_for('_uploads.uploaded_file', setname='images',
                           filename=post.image, _external=True) }}" height="100">
                    </div>
                </div>
            {% endif %}
            <small style="color: red">image should be 750x375 for perfect view</small>
            <hr>
            {{ f.render_form_field(form.text) }}
            {#        {{ ckeditor.create() }}#}
            {{ f.render_form_field(form.categories) }}
            {{ f.render_form_field(form.tags) }}
            {% if request.endpoint == 'admin.blog_post_create' %}
                {{ f.render_form_field(form.newsletter) }}
                {{ f.render_form_field(form.all_users) }}
            {% endif %}
            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}

            {{ f.end_form() }}

        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ ckeditor.load() }}
    {#{{ ckeditor.config(name='text') }}#}
{% endblock %}
