{% extends 'layouts/base.html' %}
{% block page_title %}{{ profile.full_name }} - {{ profile.title }}{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="stretched divided very relaxed row">
            <div class="sixteen wide column">
                <div class="content">
                    <div id="app-root">
                        <div class="ui segment">
                            <div class="image" style="position: relative">
                                <div style="position: absolute;bottom: -80px;left: 1%;width: 100%; height: 180px;float: left;text-align: left;padding:05px;">
                                    <img style="height: 100%;width: 25%;min-width: 180px;border:4px solid rgb(98, 170, 175)"
                                         src="{{ url_for('_uploads.uploaded_file', setname='images',
                           filename=profile.image, _external=True) }}">
                                </div>
                                <img src="{{ url_for('_uploads.uploaded_file', setname='images',
                           filename=profile.cover, _external=True) }}" height="260" width="100%">
                            </div>
                            <div style="height: 90px"></div>
                            <div>
{#                                <a class="ui green icon button" target="_blank" href="{{ url_for('employer.profile_pdf', profile_id=profile.id) }}">Download Resume <i class="download icon"></i></a>#}
                                <a class="ui green right floated icon button" href="{{ url_for('employer.hire', profile_id=profile.id) }}">Hire Now <i class="handshake icon"></i></a>
                                <div class="content"><h3>{{ profile.full_name }}</h3></div>
                                <div class="content"><h4>{{ profile.title }} - {{ profile.type_of_work }} - {{
                                        profile.commitment }}</h4></div>
                                <div class="content"><h5>{{ profile.header }}</h5></div>
                            </div>
                            <br>
                        </div>
                        <!-- SKILLS -->
                        {% if profile.skills | length %}
                            <div class="ui segment">
                                <h2>Skills</h2>
                                <hr>
                                {% for skill in profile.skills %}
                                    <div style="background: #EEEEEE;margin-bottom: 1px;padding: 10px">
                                        <div>
                                            <h4>
                                                <i class="ui hand point right outline icon"></i>
                                                <strong><u>{{skill.exp}}</u></strong>
                                                <small>at</small>
                                                <strong><u>{{ skill.name }}</u></strong>
                                            </h4>
                                            <p style="text-indent: 20px;">{{skill.description}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                        <!-- EDUCATION -->
                        {% if profile.education | length %}
                            <div class="ui segment">
                                <h2>Education</h2>
                                <hr>
                                {% for edu in profile.education %}
                                    <div style="background: #EEEEEE;margin-bottom: 1px;padding: 10px">
                                        <div>
                                            <div class="ui feed">
                                                <div class="event">
                                                    <div class="label">
                                                        <i class="ui calendar icon"></i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="date">
                                                            {{edu.start_date | full_date}} <i
                                                                class="ui long arrow alternate right icon"></i>
                                                            {% if edu.end_date %}
                                                                <span>{{edu.end_date | full_date}}</span>
                                                            {% else %}
                                                                <span>Present</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="summary">
                                                            <a>{{edu.degree}} degree</a> -- <strong>{{edu.school}}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                        <!-- WORK -->
                        {% if profile.jobs | length %}
                            <div class="ui segment">
                                <h2>Work History</h2>
                                <hr>
                                {%  for job in profile.jobs %}
                                    <div style="background: #EEEEEE;margin-bottom: 1px;padding: 10px">
                                        <div>
                                            <div class="ui feed">
                                                <div class="event">
                                                    <div class="label">
                                                        <i class="ui calendar icon"></i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="date">
                                                            {{job.start_date | full_date}} <i
                                                                class="ui long arrow alternate right icon"></i>
                                                            {% if job.end_date %}
                                                                <span>{{job.end_date | full_date}}</span>
                                                            {% else %}
                                                                <span>Present</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="summary">
                                                            <a>{{job.title}}</a> -- <strong>{{job.company}}</strong> --
                                                            {{job.commitment}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                        <!-- PROJECTS -->
                        {% if profile.projects | length %}
                            <div class="ui segment">
                                <h2>Projects</h2>
                                <hr>
                                {% for project in profile.projects %}
                                    <div style="background: #EEEEEE;margin-bottom: 1px;padding: 10px">
                                        <div>
                                            <div class="ui feed">
                                                <div class="event">
                                                    <div class="label">
                                                        <i class="ui calendar icon"></i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="date">
                                                            {{project.start_date | full_date}} <i
                                                                class="ui long arrow alternate right icon"></i>
                                                            {% if project.end_date %}
                                                                <span >{{project.end_date | full_date}}</span>
                                                            {% else %}
                                                                <span>Present</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="summary">
                                                            <a>{{project.name}}</a>
                                                            <p>{{project.description}}</p>
                                                            {% for link in json_load(project.links) %}
                                                                <a href="{{ link }}"
                                                                   target="_blank">{{link}}<br></a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                        <!-- LANGUAGES -->
                        {% if profile.languages | length %}
                            <div class="ui segment">
                                <h2>Languages</h2>
                                <hr>
                                {% for lang in profile.languages %}
                                    <div style="background: #EEEEEE;margin-bottom: 1px;padding: 10px">
                                        <div>
                                            <h4>
                                                <i class="ui hand point right outline icon"></i>
                                                <strong><u>{{lang.level}}</u></strong>
                                                <small>at</small>
                                                <strong><u>{{lang.name}}</u></strong>
                                            </h4>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>

    {#    <a class="ui right floated icon button"><i class="plus  icon"></i> </a>#}

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js" ></script>
    <script>

        function downloadCV() {
            let options = {
                background: '#fff',
                retina: true,
                pagesplit: true,
                margin: {
                    top: 50,
                    right: 25,
                    bottom: 50,
                    left: 25,
                    useFor: 'page' // This property is mandatory to keep the margin to supsequent pages
                }
            };
            let doc = new jsPDF('p','pt','a4');
            doc.internal.scaleFactor = 2.25;
            doc.addHTML($('#app-root'), 25, 50, options, function () {doc.save('sample-file.pdf');});

        }
    </script>

{% endblock %}
