{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
{% endblock %}
{% block content %}

    <div class="ui grid container">
        <br>
        <div class="sixteen wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Find Top Employees</h2>
            <div class="center">
                <div>
                    <form class="ui inline form fluid" style="width: 100%" method="GET" action="{{ url_for('employer.search') }}">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Find Employees" name="query" autofocus onfocus="this.value='{{ query }}'">
                            <button type="submit" class="ui button"> <i class="search icon"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="four wide computer sixteen wide mobile centered column">
            <div class="ui vertical fluid tabular menu">
                <a class="{% if search_type == '' %} active {% endif %}item" href="{{ url_for('employer.search') }}?query={{ query }}&type=&sort_by={{ sort_by }}&sort_dir={{ sort_dir }}">
                    <i class="home icon"></i>All Results
                </a>
                <a class="{% if search_type == 'full' %} active {% endif %}item" href="{{ url_for('employer.search') }}?query={{ query }}&type=full&sort_by={{ sort_by }}&sort_dir={{ sort_dir }}">
                    <i class="circle icon"></i>Wanted - Full Time
                </a>
                <a class="{% if search_type == 'part' %} active {% endif %}item" href="{{ url_for('employer.search') }}?query={{ query }}&type=part&sort_by={{ sort_by }}&sort_dir={{ sort_dir }}">
                    <i class="circle outline icon"></i>Wanted - Part Time
                </a>
            </div>

        </div>
        <div class="twelve wide computer sixteen wide mobile centered column">
            {% if results.total != 0 %}
                <div class="ui centered grid " style="overflow: hidden">
                    <br>
                    <div class="ui pagination menu">
                        {% for page in results.iter_pages() %}
                            {% if page %}
                                {% if page != results.page %}
                                    <a class="item" href="{{ url_for(request.endpoint) }}?page={{ page }}&query={{ query }}&type={{ type }}&sort_by={{ sort_by }}&sort_dir={{ sort_dir }}">
                                        {{ page }}
                                    </a>
                                {% else %}
                                    <a class="item active">
                                        {{ page }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                </div>
            {% endif %}
            {% if results.items | length == 0 %}
                <br>
                <br>
                <br>
                <div class="ui very padded container centered grid">
                    <p class="ui grey label">No Results where found , please change the search query and try again...</p>
                </div>
            {% endif %}
            {% for result in results.items %}
                <div class="ui fluid card post-card">
                    <div class="extra content">
                        <h2 class="left floated ui header">
                            <a href="{{ url_for('employer.profile', profile_id=result.id) }}">
                                <img class="left floated mini ui image" src="{{ url_for('static', filename='photo/'+result.image) }}"></a>
                            <span class="post-head">
                                <a href="{{ url_for('employer.profile', profile_id=result.id) }}">{{ result.full_name }}</a><br>
                                <small><span>Looking for a <u>{{ result.commitment }}</u> position as <u>{{ result.title }}</u></span></small>
                            </span>
                        </h2>
                    </div>
                    <div class="content">
                        <p>{{ result.header }}</p>
                        {% for skill in result.skills %}
                            <ul>
                                <li><p>{{ skill.exp }} at {{ skill.name }}</p></li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% if results.total != 0 %}
                <div class="ui centered grid " style="overflow: hidden">
                    <hr>
                    <div class="ui pagination menu">
                        {% for page in results.iter_pages() %}
                            {% if page %}
                                {% if page != results.page %}
                                    <a class="item" href="{{ url_for(request.endpoint) }}?page={{ page }}&query={{ query }}&type={{ type }}&sort_by={{ sort_by }}&sort_dir={{ sort_dir }}">
                                        {{ page }}
                                    </a>
                                {% else %}
                                    <a class="item active">
                                        {{ page }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
