
<link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='/js/jquery.min.js') }}"/>
<link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='/js/semantic.min.js') }}"/>
<link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='/js/tablesort.min.js') }}"/>
<link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='/js/zxcvbn.js') }}"/>

<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% assets 'vendor_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets 'app_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<script type="text/javascript" src="/static/scripts/custom.js"></script>


<script src="{{ url_for('static', filename='messaging/checkbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/vue.js') }}"></script>
<!--<script src="{{ url_for('static', filename='messaging/socket.io.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='messaging/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>


<script>
    const WS_URL = $('meta[name=ws_url]').attr("content");
    const USER_ID = Number($('meta[name=user_id]').attr("content"));
    {% if config['DEBUG']  != True %}
        var socket = io(WS_URL, { query: "id= "+USER_ID, path: '/sockets/socket.io'});
    {% else %}
        var socket = io(WS_URL, { query: "id= "+USER_ID});
    {% endif %}
    socket.on('connect', function() {
        socket.emit('connected');
    });
</script>
<script type="text/javascript" charset="utf-8">
    function playSound (sound) {
        if(sound) {
            var audio = new Audio(sound);
            var promise = audio.play();

            if (promise !== undefined) {
                promise.then(_ => {
                    // Autoplay started!
                }).catch(error => {
                    // Autoplay was prevented.
                    // Show a "Play" button so that user can start playback.
                });
            }
        }
    }
    socket.on('message_received', function(data) {
        getStats();
        playSound('http://soundbible.com/mp3/Elevator Ding-SoundBible.com-685385892.mp3');
    });
</script>

<script>
    function getStats(){
        $(document).ready(function () {
            $.get("{{ url_for('main.notifications_count') }}", function ( data ) {
                let messages = parseInt(data.messages);
                let notifications = parseInt(data.notifications);
                let label = $('.item.Messages').find('.floating.ui.blue.label');
                let nlabel = $('.item.Notifications').find('.floating.ui.blue.label');
                if (messages > 0){
                    label.parent().addClass('padded')
                    if (messages > 99){
                        console.log("HERE1");
                        label.html('99+');
                    }
                    else {
                        console.log("HERE")
                        label.html(messages);
                    }
                    if (! label.hasClass('active')){
                        label.addClass('active')
                    }
                }
                else
                {
                    label.parent().removeClass('padded');
                    label.html('');
                    label.removeClass('active');
                }
                if (notifications > 0){
                    nlabel.parent().addClass('padded')
                    if (notifications > 99) {
                        nlabel.html("99+");
                    }
                    else {
                        nlabel.html(notifications);
                    }
                    if (! nlabel.hasClass('active')){
                        nlabel.addClass('active')
                    }
                }
                else{
                    nlabel.parent().removeClass('padded')
                    nlabel.html('');
                    nlabel.removeClass('active');
                }
            })
        });
    }
    getStats();
</script>
<script>
    function editPost(post_id, text, privacy) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.edit-post-modal').modal('show');
            $('.edit-post-modal').find('form').attr('action', "{{ url_for('post.edit_post', post_id=0) }}".replace(0, post_id));
            $('.edit-post-modal').find('textarea[name=text]').val(text);
            $('.edit-post-modal').find('input[name=post_privacy][value=' + privacy + ']').attr('checked', true)
        });
    }

    function deletePost(post_id) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.delete-post-modal').modal('show');
            $('.delete-post-modal').find('form').attr('action', "{{ url_for('post.delete_post', post_id=0) }}".replace(0, post_id));
            {#$('.delete-post-modal').find('input[name=post_id]').val(post_id);#}
        });
    }
    function editComment(comment_id, comment_text) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.edit-comment-modal').modal('show');
            $('.edit-comment-modal').find('form').attr('action', "{{ url_for('post.edit_comment', comment_id=0) }}".replace(0, comment_id));
            $('.edit-comment-modal').find('input[name=comment_text]').val(comment_text);
        });
    }
    function deleteComment(comment_id) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.delete-comment-modal').modal('show');
            $('.delete-comment-modal').find('form').attr('action', "{{ url_for('post.delete_comment', comment_id=0) }}".replace(0, comment_id));
        });
    }
    function editQuestion(question_id, title, desc) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.edit-question-modal').modal('show');
            $('.edit-question-modal').find('form').attr('action', "{{ url_for('main.edit_question', question_id=0) }}".replace(0, question_id));
            $('.edit-question-modal').find('input[name=title]').val(title);
            $('.edit-question-modal').find('textarea[name=description]').val(desc);
        });
    }
    function deleteQuestion(question_id) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.delete-question-modal').modal('show');
            $('.delete-question-modal').find('form').attr('action', "{{ url_for('main.delete_question', question_id=0) }}".replace(0, question_id));
        });
    }

    function editAnswer(answer_id, answer_text) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.edit-answer-modal').modal('show');
            $('.edit-answer-modal').find('form').attr('action', "{{ url_for('main.edit_answer', answer_id=0) }}".replace(0, answer_id));
            $('.edit-answer-modal').find('textarea[name=reply]').val(answer_text);
        });
    }
    function deleteAnswer(answer_id) {
        $('.options.btn.active').click();
        $(document).ready(function () {
            $('.delete-answer-modal').modal('show');
            $('.delete-answer-modal').find('form').attr('action', "{{ url_for('main.delete_answer', answer_id=0) }}".replace(0, answer_id));
        });
    }

    function confirmDelete(selector) {
        $(selector).find('form').submit()
    }

    $(document).on('click', '.follow-button', function () {
        let user_id = $(this).attr('data-value');
        selector = this;
        let data = new FormData();
        data.set('csrf_token', "{{ csrf_token()  }}");
        data.set('user_id', user_id);
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": false,
            "showDuration": "5000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
        };
        axios.post('{{ url_for("api.togglefollow") }}', data )
            .then(function (response) {
                if (response.data.status === 1) {
                    toastr["info"](response.data.message, "Following Status Change");
                    if (response.data.following === true){
                        console.log($(selector))
                        $(selector).addClass('red');
                        $(selector).removeClass('blue');
                        $(selector).html('<i class="minus icon"></i>Un-Follow');
                    }
                    else {
                        $(selector).removeClass('red');
                        $(selector).addClass('blue');
                        $(selector).html('<i class="plus icon"></i>Follow');
                    }
                }
                else {

                    toastr["error"](response.data.message, "Sorry");
                }
            })
            .catch(function (error) {
                toastr["error"]("Unknown error happened, please try again", "Sorry");
            })
            .finally(function () {
            });
        return false;
    });
</script>
