{% import 'macros/nav_macros.html' as nav %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if config['DEBUG']  != True %}
        <meta name="ws_url" content="https://www.networked.com">
    {% else %}
        <meta name="ws_url" content="http://localhost:5000">
    {% endif %}
{% if current_user.is_authenticated %}
<meta name="user_id" content="{{ current_user.id }}">
    {% endif %}
<meta name="google-site-verification" content="eO7v2aO6uakHOD3gSnChM4_GSUpar3MVqPZzr9cWENE" />
<title>{% block page_title %}{% endblock %}</title>
    {% block custom_head_tags %}{% endblock %}
    {% include 'partials/_head.html' %}
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="apple-touch-icon"
          href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">

    <style>
        .ui.menu.fixed {
            z-index: 1001;
        }
    </style>

		<!----Mouseflow begins --->
	
	<script type="text/javascript">
	  window._mfq = window._mfq || [];
	  (function() {
		var mf = document.createElement("script");
		mf.type = "text/javascript"; mf.defer = true;
		mf.src = "//cdn.mouseflow.com/projects/1fed4dca-722f-4c3f-ae74-f2ab06cdc6ff.js";
		document.getElementsByTagName("head")[0].appendChild(mf);
	  })();
	</script>

	<!----Mouseflow ends --->
</head>
<body>
<div class="ui container-fluid {% if current_user.is_authenticated %} min-container {% endif %}">
    {% block sidebars %}{% endblock %}
    {% block nav %}
        {{ nav.render_nav(current_user) }}
    {% endblock %}
    {% include 'partials/_flashes.html' %}
    {% block content %}{% endblock %}
    {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
    {% endif %}
</div>
<div id="search-popup" style="top:3em; width: 100%;display: none;">
    <div class="ui container">
        <div style="border: 1px solid #c5c5c5; padding: 2px">
            <div class="ui centered container">
                <form class="ui inline form fluid" style="width: 100%" method="GET" action="{{ url_for('main.search') }}">
                    <div class="fields" style="margin-bottom: 0">
                        <div class="fourteen wide field" style="margin-bottom: 1px;">
                            <input type="text" name="query" autofocus placeholder="Search across" required>
                        </div>
                        <div class="two wide field" style="margin-bottom: 1px;">
                            <button type="submit" class="ui button" style="width: 100%"><i class="search icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% include 'partials/_analytics.html' %}
{% include 'partials/_javascripts.html' %}
{{ moment.include_moment() }}

{% include 'partials/_realtime.html' %}


{% block scripts %}{% endblock %}
</body>
</html>
