{% extends 'layouts/base.html' %}
{% block page_title %}{{ org.org_name }}, {{ org.org_city }}, {{ org.org_country }}{% endblock %}
{% block custom_head_tags %}
    <meta name="description"
          content="{{ org.org_description }}">
    <meta name="author" content="{{ config.APP_NAME }}.com.ng">
    <meta name="og:title" content="{{ org.org_name }}, {{ org.org_city }}, {{ org.org_country }}"/>
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="https://www.{{ config.APP_NAME }}.com.ng"/>
    <meta name="og:image" content="{{ org.get_photo() }}"/>
    <meta name="og:site_name" content="{{ config.APP_NAME }}.com.ng"/>
    <meta name="og:description"
          content="{{ org.org_description }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ config.APP_NAME }}"/>
    <meta name="twitter:creator" content="@anioko1"/>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightbox/css/lightbox.min.css') }}">
    <style>
        .ui.vertical.divider:after, .ui.vertical.divider:before {
            height: 100%;
        }

        .display-none {
            display: none;
        }
        .slick-prev:before, .slick-next:before {
            color: black;
        }
        .comment i.icon.ellipsis.vertical:before {
            font-size: 15px;
        }
        .comment .popup li a {
            color: rgba(0,0,0,.4);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="stretched divided very relaxed row">
            <div class="sixteen wide column">
                <div class="content">
                    <div id="app-root">
                        <div class="ui segment">
                            <div class="image" style="position: relative">
                                <div style="position: absolute;bottom: -80px;left: 1%;width: 100%; height: 180px;float: left;text-align: left;padding:05px;">
                                    <img style="height: 100%;width: 25%;min-width: 180px;border:4px solid rgb(98, 170, 175)"
                                         src="{{ org.get_photo() }}">
                                </div>
                                <img src="{{ org.get_cover() }}" height="260" width="100%">
                            </div>
                            <div style="height: 90px"></div>
                                <div class="content"><h3>{{ org.org_name }}</h3></div>
                                <div class="content"><h5>{{ org.org_city }}, {{ org.org_state }}, {{ org.org_country }}</h5></div>
                                <div class="content"><h5>{{ org.org_website }}</h5></div>
                            <div>
                                <!----<# class="ui green right floated icon button" href="{# url_for('employer.hire', profile_id=profile.id) #}">Hire Now <i class="handshake icon"></i></a>---->
                            </div>
                            <br>
                        </div>
                        <!-- details -->
                            <div class="ui segment">
                                <h2>Overview</h2>
                                <hr>
                                <p>{{ org.org_description }}</p>								
								<hr>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    {#    <a class="ui right floated icon button"><i class="plus  icon"></i> </a>#}

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js" ></script>

{% endblock %}
