{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% set endpoints = [
    ('account.profile', 'Profile'),
    ('account.manage_posts', 'View posts'),
	('account.change_profile_details', 'Update profile'),
    ('organisations.org_home', 'Company Dashboard'),
    ('account.manage', 'Account information'),
    ('main.invite_user', 'invite a friend'),
    ('account.create_resume', 'Add work and academic information'),
    ('account.change_extra_details', 'Extra Information'),
    ('account.change_email_request', 'Change email address'),
    ('account.change_password', 'Change password'),
    ('account.logout', 'Log out')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro user_info(user) %}
    <table class="ui compact definition table">
        <tr>
            <td>Full name</td>
            <td>{{ '%s %s' % (user.first_name, user.last_name) }}</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Profile Summary or Description</td>
            <td>{{ user.summary_text }}</td>
        </tr>

        <tr>
            <td>Account type</td>
            <td>{{ user.role.name }}</td>
        </tr>
        <tr>
            <td>Newscaster Badge Earned</td>
            <td>{{user.newscaster_badge}}</td>
        </tr>
		<tr>
            <td>Ambassador Badge Earned</td>
            <td>{{user.ambassador_badge}}</td>
        </tr>
		<tr>
            <td>Networker Badge Earned</td>
            <td>{{user.networker_badge}}</td>
        </tr>
		<tr>
            <td>Knowledge Builder Badge Earned</td>
            <td>{{user.kw_builder_badge}}</td>
        </tr>
		<tr>
            <td>Knowledge Seeker Badge Earned</td>
            <td>{{user.kw_seeker_badge}}</td>
        </tr>		
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Settings
                <div class="sub header">Manage your account settings and change your login information.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                <div class="ui small image" style="flex-grow: 0">
                    <img src="{{ current_user.get_photo() }}">
                </div>
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if form %}
                    {{ f.render_form(form, extra_classes='fluid') }}
                {% else %}
                    {{ user_info(user) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ check.password_check('new_password', 0) }}
    <script>
        function initSelect(select){
            if ($(select).val() != 'Recruiter'){
                $('select[name=recruiter]').parent().show();
            }
            else {
                $('select[name=recruiter]').parent().hide();
            }
            if ($(select).val() == 'OTHER SPECIFY'){
                $('input[name=custom_profession]').parent().show();
            }
            else{
                $('input[name=custom_profession]').parent().hide();
            }
        }
        $("select[name=profession]").change(function (){
            initSelect(this);
        });
        initSelect($("select[name=profession]"));
    </script>
{% endblock %}
