{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Create an account</h2>

            {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}

            {{ f.begin_form(form, flashes) }}


            <div class="two fields">
                <div class="field">
                    {{ f.render_form_field(form.first_name) }}
                </div>
                <div class="field">
                    {{ f.render_form_field(form.last_name) }}
                </div>
            </div>

            <div class="field">
                {{ f.render_form_field(form.email) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.photo) }}
            </div>
            <div class="two fields">
                <div class="field">
                    {{ f.render_form_field(form.gender) }}
                </div>
                <div class="field">
                    {{ f.render_form_field(form.profession) }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    {{ f.render_form_field(form.area_code) }}
                </div>
                <div class="field">
                    {{ f.render_form_field(form.mobile_phone) }}
                </div>
            </div>
            <div class="field">
                
                   {{ f.render_form_field(form.city) }}
            </div>
            <div class="two fields">
                <div class="field">
                    {{ f.render_form_field(form.state) }}
                </div>
                <div class="field">
                    {{ f.render_form_field(form.country) }}
                </div>
            </div>

            <div class="two fields">
                {{ f.render_form_field(form.password) }}
                {{ f.render_form_field(form.password2) }}
            </div>

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {#{% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}#}
            <button class="btn btn-secondary" type="submit">Register</button>

            {{ f.end_form(form) }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ check.password_check('password', 0) }}
	
	<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '505049026771998');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=505049026771998&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<script>
  fbq('track', 'CompleteRegistration');
</script>
{% endblock %}