{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="ui container">
            <a class="ui basic compact button" href="{{ url_for('management.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Invitees
                <div class="sub header">
                    View users invited by you.
                </div>
            </h2>

            <div class="ui header" style="width: 100%; height: 50px">
                <a class="ui teal right floated button" href="{{ url_for('management.invite_business') }}">Add New Business</a>
			</div>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>First name</th>
                        <th class="sorted ascending">Last name</th>
                        <th>Area code</th>
                        <th>Phone Numbers</th>
                        <th>Completed registration</th>
                        <th>Public Profile</th>
                        <th>Company or Business Added</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in user_orgs | sort(attribute='last_name') %}
                        <tr>

                            <td>{{ u.user.first_name }}</td>
                            <td>{{ u.user.last_name }}</td>
                            <td>{{ u.user.area_code }}</td>
                            <td>{{ u.user.mobile_phone }}</td>
							<td>{{ u.user.confirmed }}</td>
							<td><a href="{{ url_for('main.public_user_profile', user_id=u.user.id, full_name=u.user.full_name) }}">Public Profile</a></td>
							<td><a href="{{ url_for('organisations.org_view',org_id=u.id) }}">{{ u.org_name }}</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
