<p>Dear {{ current_user.full_name }},</p>

<p>Welcome to <b>{{ config.APP_NAME }}</b>!</p>

<p>To confirm your account enter this token : {{token}} .</p>


<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p>
    <small>Note: replies to this email address are not monitored.</small>
</p>
