{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}


{% block content %}

{% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}


    <div class="ui text container">

        <div class="ui padded raised segment">
            <h3>You need to confirm your account before continuing.</h3>

            <p>When you created an account, you should have received a message from us on {{current_user.area_code}}{{ current_user.mobile_phone}}
                containing a one time password (OTP) to confirm your phone number.</p>

            <div class="ui divider"></div>

            <h3>I didn't receive a it!</h3>

            <p>No problem! Just click the button below and we'll send you another one.</p>
            <a class="ui small button" href="{{ url_for('account.confirm_request') }}">Resend otp</a>
        </div>

  <form class="ui form" method="POST">
  <div class="field">
                  {{ f.begin_form(form, flashes) }}
    <div class="col-8 text container">
            {{ f.render_form_field(form.token) }}

  </div>
      <div class="otp-button" style="margin-top:5px;">
          {{ f.render_form_field(form.submit) }}
      </div>

            {{ f.end_form(form) }}
</form>



    </div>


      {% endblock %}