
<!doctype html>
<html lang="en">
  <head>
	<!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Networked Business to Business Network and B2B Marketplace in Nigeria</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png')}}">
    <link rel="mask-icon" color="#2a505b" href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}" >
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/landing.css') }}">
    <!-- Search Engine -->
    <meta name="description" content="Networked.ng is a Nigerian online Business network and Nigerian B2B Marketplace for Nigerian businesses looking to network with trusted and credible businesses throught Nigeria">
    <meta name="image" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg')}}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Networked in Nigeria Business Network and B2B Marketplace">
    <meta itemprop="description" content="Networked.ng is a Nigerian online Business network and Nigerian B2B Marketplace for Nigerian businesses looking to network with trusted and credible businesses throught Nigeria">
    <meta itemprop="image" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg')}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Networked in Nigeria Business Network and B2B Marketplace">
    <meta name="twitter:description" content="Networked.ng is a Nigerian online Business network and Nigerian B2B Marketplace for Nigerian businesses looking to network with trusted and credible businesses throught Nigeria">
    <meta name="twitter:site" content="@networkednigeria">
    <meta name="twitter:creator" content="@anioko1">
    <meta name="twitter:image:src" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg')}}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Networked in Nigeria Business Network and B2B Marketplace">
    <meta name="og:description" content="Networked.ng is a Nigerian online Business network and Nigerian B2B Marketplace for Nigerian businesses looking to network with trusted and credible businesses throught Nigeria">
    <meta name="og:image" content="{{ url_for('static', filename='img/rsz_dreamstime_m_141105914.jpg')}}">
    <meta name="og:url" content="https://networked.ng">
    <meta name="og:site_name" content="Networked in Nigeria">
    <meta name="og:type" content="website">
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154005901-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-154005901-1');
	</script>
        <script>
  	!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  	analytics.load("fmBge3EWLw3KPoi1rdzeUyz9Yxzc6bjo");
  	analytics.page();
  	}}();
	</script>
  </head>
  <body>
    <!-- BEGIN page -->
    <div class="page">
      <!-- BEGIN header -->
      <header class="header header-main">
        <div class="container">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <div class="navbar-logo">
                <img class="navbar-pic" src="img/networkednigeria_logo.jpg" alt="B2B networking in Nigeria" srcset="{{ url_for('static', filename='img/networkednigeria_logo.jpg')}}">
              </div>
              <div class="navbar-group">
                <div class="navbar-title">Networked.ng</div>
                <div class="navbar-text">B2b networking in Nigeria</div>
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/professionals">Professionals</a>
                </li>
              </ul>
              <a class="btn btn-primary" href="/organisations/register/">Register</a>
			  <a class="btn btn-secondary" href="/account/login">Login</a>
            </div>
          </nav>
        </div>
      </header>
      <!-- END header -->
      <!-- BEGIN inner -->
      <div class="inner">
        <div class="section section-main" style="background: #ffffff">
          <div class="container">
            <div class="section-body">
              <h1 class="title">Nigerian Business to Business Network.</h1>
              <div class="text">Connect with other Nigerian businesses online, post job opportunities, find candidates, offer your services and products.</div>
              <div class="btn-group-simple">
				<a class="btn btn-primary" href="/organisations/register/">Get Started</a>
				<a class="btn btn-secondary" href="/account/login">Login</a>
              </div>
              <div class="preview">
                <img class="preview-pic" alt="Nigerian Business to Business Network" srcset="{{ url_for('static', filename='img/rsz_19309.jpg')}}">
              </div>
            </div>
          </div>
        </div>
        <div class="section section-sm section-gray">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mb-5 mb-lg-0">
                <div class="about">
                  <h4 class="about-title">Why should you join this network?</h4>
                  <div class="about-text">Are you a registered Nigerian company or a Startup looking to offer your services, products and or find IT talents to hire?</div>
				                    <div class="about-text">Our aim is to provide a community online where companies in Nigerians can showcase their offerings, find and hire candidates and network with Nigerian professionals home and abroad. We want to make professional networking easier in Nigeria</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about">
                  <h4 class="about-title">Who should join?</h4>
                  <div class="about-text">Currently we are in a limited release for only Nigerian Startups to find IT talents (Eg: Web developers, growth hackers, designers, software programmers, business analysts, product and project managers) in Nigeria.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
		<div class="section">
          <div class="container">
            <div class="center">
              <div class="title title-2">Features and tools</div>
              <div class="text">Things Nigerian companies can do on Networked.ng.</div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-5">
                <div class="service">
                  <div class="service-preview">
                    <i class="fas fa-briefcase fa-2x"></i>
                  </div>
                  <div class="service-title">Post Jobs, Hire Candidates</div>
                  <div class="service-text">Post job vacancies to be visible statewide or nationwide and an ability to receive CVs submitted by candidates.</div>
                  <a class="link" href="#">Learn more</a>
                </div>
              </div>
              <div class="col-md-4 mb-5">
                <div class="service">
                  <div class="service-preview">
                    <i class="fas fa-question fa-2x"></i>
                  </div>
                  <div class="service-title">Ask and Answer Questions</div>
                  <div class="service-text">Answer questions related to an industry area or service that your company provides.</div>
                  <a class="link" href="#">Learn more</a>
                </div>
              </div>
              <div class="col-md-4 mb-5">
                <div class="service">
                  <div class="service-preview">
                    <i class="fas fa-handshake fa-2x"></i>
                  </div>
                  <div class="service-title">Business Connections</div>
                  <div class="service-text">Find and follow other companies to stay abreast of their products, services and announcements.</div>
                  <a class="link" href="#">Learn more</a>
                </div>
              </div>
              <div class="col-md-4 mb-5 mb-md-0">
                <div class="service">
                  <div class="service-preview">
                    <i class="fas fa-bullhorn fa-2x"></i>
                  </div>
                  <div class="service-title">Public Posts</div>
                  <div class="service-text">Make public posts about your company or your products. Announce new features or upgrades or innovative ideas easily.</div>
                  <a class="link" href="#">Learn more</a>
                </div>
              </div>
              <div class="col-md-4 mb-5 mb-md-0">
                <div class="service">
                  <div class="service-preview">
                    <i class="fas fa-id-card fa-2x"></i>
                  </div> 
                  <div class="service-title">Company and Product Listing</div>
                  <div class="service-text">Get your company and products to be listed in the companies and products directories.</div>
                  <a class="link" href="#">Learn more</a>
                </div>
              </div>
              <div class="col-md-4 mb-5 mb-md-0">
                <div class="service">
                  <div class="service-preview">
                    <i class="fas fa-check-circle fa-2x"></i>
                  </div>
                  <div class="service-title">Company Verifications</div>
                  <div class="service-text">To become the most trusted place to make credible business connections in Nigeria we will introduce business verifications</div>
                  <a class="link" href="#">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section section-with-logos border-bottom">
          <div class="container">
            <div class="row logos">
            </div>
            <div id="carouselExampleIndicators" class="carousel slide text-lg-center" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="review">
                    <div class="review-title">Trusted by International and Nigerian small, medium and large businesses</div>
                    <div class="review-text">“In Nigeria there should exist a database of trusted and verified businesses of all sizes. Making it easy to find trusted business partners, buyers or sellers.”</div>
                    <div class="review-name">Aniekan Okono</div>
                    <div class="review-position">Business Consultant</div>
                  </div>
                </div>
                <!---<div class="carousel-item">
                  <div class="review">
                    <div class="review-title">Trusted by the world’s most innovative businesses – big and small</div>
                    <div class="review-text">“Comprehensive set of startup tools for all imaginable entrepreneurial needs. Create landing pages, send emails, find freelancers. Perfect for sales, marketing, and support”</div>
                    <div class="review-name">Viella Malkovich</div>
                    <div class="review-position">Creative Director at Johnson</div>
                  </div>
                </div>---->
                <!----<div class="carousel-item">
                  <div class="review">
                    <div class="review-title">Trusted by the world’s most innovative businesses – big and small</div>
                    <div class="review-text">“Comprehensive set of startup tools for all imaginable entrepreneurial needs. Create landing pages, send emails, find freelancers. Perfect for sales, marketing, and support”</div>
                    <div class="review-name">Viella Malkovich</div>
                    <div class="review-position">Creative Director at Johnson</div>
                  </div>
                </div>--->
              </div>
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
            </div>
            <div class="preview preview-review">
              <img class="preview-pic" src="img/rush-1.png" srcset="{{ url_for('static', filename='img/rush-1.png')}}">
            </div>
          </div>
        </div>
      </div>
      <!-- END inner -->
      <!-- BEGIN footer -->
      <footer class="footer">
        <div class="footer-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 mb-3 mb-lg-0">
                <a class="navbar-brand" href="/">
                  <div class="navbar-logo">
                    <img class="navbar-pic" src="img/networkednigeria_logo.jpg" alt="B2B networking in Nigeria" srcset="{{ url_for('static', filename='img/networkednigeria_logo.jpg')}}">
                  </div>
                  <div class="navbar-group">
                <div class="navbar-title">Networked.ng</div>
                <div class="navbar-text">Business networking in Nigeria</div>
                  </div>
                </a>
                <div class="footer-text"></div>
              </div>
              <div class="hr"></div>
              <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div class="footer-category">Listings</div>
                <div class="footer-menu">
                  <!--<a class="footer-link" href="#">Nigerian Business Directory</a>
                  <a class="footer-link" href="#">Nigerian Business to Business Marketplace</a>
                  <a class="footer-link" href="#">Business Networking</a>
                  <a class="footer-link" href="#">Nigerian Company Verifications</a>
				  <a class="footer-link" href="#">Post Jobs</a>----->
                  <a href="{{ url_for('products.products_list') }}" class="footer-link">Marketplace Listings</a>
                  <a href="{{ url_for('services.services_list') }}" class="footer-link">Service Listings</a>
                  <a href="{{ url_for('promos.promos_list') }}" class="footer-link">Promo Listings</a>
                  <a href="{{ url_for('jobs.jobs_list') }}" class="footer-link">Job Listings</a>
                  <a href="{{ url_for('events.events_list') }}" class="footer-link">Event Listings</a>
                  <a href="{{ url_for('organisations.org_list') }}" class="footer-link">Business Listings</a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-md-3 mb-lg-0">
                <div class="footer-category">Professionals</div>
                <div class="footer-menu">
                  <a class="footer-link" href="#">Directory Professionals</a>
                  <a class="footer-link" href="#">Directory Skills</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-down">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <nav class="footer-nav">
                  <a href="/terms" class="footer-link">Terms</a>
                  <a href="/privacy" class="footer-link">Privacy</a>
                  <a href="/contact" class="footer-link">Contact Us</a>
                </nav>
              </div>
              <div class="col-lg-6">
                <div class="socials">
                  <a class="socials-item" href="#">
                    <img class="socials-pic" alt="Twitter" src="{{ url_for('static', filename='img/icon-twitter.svg')}}">
                  </a>
                  <a class="socials-item" href="#">
                    <img class="socials-pic" alt="Facebook" src="{{ url_for('static', filename='img/icon-facebook.svg')}}">
                  </a>
                  <a class="socials-item" href="#">
                    <img class="socials-pic" alt="LinkedIn" src="{{ url_for('static', filename='img/icon-linkedin.svg')}}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer -->
    </div>
    <!-- END page -->
    <!-- BEGIN scripts -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/foundation.js') }}"></script>
    <!-- END scripts -->
  </body>
</html>
