{% macro traverse(children, question_id, moment, current_user) -%}
    {% if children|length > 0 %}
        {% for child in children %}
            <div class="comment">
                <a class="avatar" href="{{ url_for('main.public_user_profile', user_id=child['node'].creator.id, full_name=child['node'].creator.full_name) }}">
                    <img class="rounded" src="{{ child['node'].creator.get_photo() }}">
                </a>
                <div class="content">
                    <a class="author" href="{{ url_for('main.public_user_profile', user_id=child['node'].creator.id, full_name=child['node'].creator.full_name) }}">{{ child['node'].author }}</a>

                    {% if child['node'].creator.id == current_user.id %}
                        <p class="options btn" style="cursor: pointer; float: right;">
                            <i class="large ellipsis vertical icon right floated" style="margin-right: -0.5rem;">
                            </i>
                        </p>
                        <div class="ui special popup" style="margin-right: -1rem;margin-top: 2rem;padding-left: 1px;padding-right: 1px; padding-bottom: 1px">
                            <ul style="list-style-type: none;padding:0;margin-bottom: 1px;margin-top: 0">
                                <li class="item" style="padding: 5px 35px 3px 15px"
                                    onclick='editAnswer("{{ child['node'].id }}",  {{ child['node'].body | tojson }})'>
                                    <a href="#">Edit Answer</a>
                                </li>
                                <li class="item" style="padding: 5px 35px 3px 15px" onclick='deleteAnswer("{{ child['node'].id }}")'>
                                    <a href="#">Delete Answer</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                    <div class="metadata">
                        <span class="date">{{ moment(child['node'].timestamp).fromNow() }}</span>
                    </div>
                    <div class="text">
                        {{ child['node'].body }}
                    </div>
                    <div class="actions">
                        {% if current_user.is_authenticated %}
                            <a class="reply" href="#"
                               onclick="$('#answer-'+{{ child['node'].id }}).toggleClass('display-none');return false;">Reply</a>
                            <form id="answer-{{ child['node'].id }}" class="ui reply form display-none" method="POST"
                                  action="{{ url_for('main.parent_answers') }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" name="question_id" value="{{ question_id }}"/>
                                <input type="hidden" name="parent_id" value="{{ child['node'].id }}"/>
                                <div class="inline fields">

                                    <div class="field" style="width: calc(100% - 60px);">
                                        <input id="replyid" name="reply" style="background: #eee;border-radius: 15px;width:100%">
                                    </div>
                                    <div class="field  "><button id="submit" name="submit" type="submit" class="ui icon primary button"><i class="icon send"></i></button></div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
                {% if 'children' in child['node'].drilldown_tree()[0].keys() %}
                    <div class="comments">
                        {{ traverse(child['node'].drilldown_tree()[0]['children'], question_id, moment, current_user) }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {%- endif %}

{%- endmacro %}